html{
    background-color: #E6E6E6;
}
header{
    background-color: #E6E6E6;

}
.title{
    display:flex;
    flex-direction: column;
    text-align: center;

}



.circle{
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;

}

.design{
    height: 105px;
    width: 105px;
    border-radius: 50%;
    border: white solid 5px;
    background-color: #E6563B;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 1em;
}

.develop{
    height: 105px;
    width: 105px;
    border-radius: 50%;
    border: white solid 5px;
    background-color: #EB9C39;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 1em;

}

.support{
    height: 105px;
    width: 105px;
    border-radius: 50%;
    border: white solid 5px;
    background-color: #7BB16C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 1em;

}

.host{
    height: 105px;
    width: 105px;
    border-radius: 50%;
    border: white solid 5px;
    background-color: #05AAA9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 1em;

}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-title{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.right-title {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.left-column{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around ;


}

.card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}
.card-body{
    display: flex;
    justify-content: space-between;
}

.small-circles> ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;

}

.red {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #E6563B;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    font-weight: bold;
    list-style-type: none;
}

.orange{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #EB9C39;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    font-weight: bold;
    list-style-type: none;
}

.green{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #7BB16C;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    font-weight: bold;
    list-style-type: none;
}

.teal{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #05AAA9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    font-weight: bold;
    list-style-type: none;
}

.first-article{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.second-article{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.third-article{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.small-image>img {
    height: 4em;
    width: 4em;
}

.article{
    font-weight: bolder;
    font-size: large;


}

.text-wrap{
    padding: 10px;
}

.selected{
    display: flex;
    align-content: center;
    margin: auto;

}
.last{
    display: flex;
    justify-content: center;
}
.card-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.right-column{
    display: flex;
    flex-direction: column;
   flex-wrap: wrap;
}
.left-column{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

main{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
@media (max-width: 425px) {
    html {
        width: 100vm;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .right-column{
        display: flex;
       align-items: center;
    }
    .top{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .circle{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .circle-container{
        width: 80vw;
    }

}

